@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --font-size: 16px;
  --font-primary: 'Montserrat', sans-serif;

  --color-primary-200: #e4ed99;
  --color-primary-300: #d4e266;
  --color-primary-400: #c9db33;
  --color-primary: #bed501;
  --color-primary-600: #9eb401;
  --color-primary-700: #7e9001;
  --color-primary-800: #5e6b01;
  --color-secondary: #747579;
  --color-secondary-dark: #595a60;
  --color-gray-300: #f2f2f2;
  --color-gray-350: #bcbcbc;
  --color-gray-400: #a1a1a1;
  --color-gray: #324434;
  --color-error: #ba3e4a;
  --color-warning: #ba843e;
  --color-darkLight: #41414180;
  --color-darker: #0b0b0b;
  --color-purple: #8734b3;
  --color-dark: #414141;
  --color-grayDark: #4d4d4d;
  --color-backdrop: #000000b0;
  --color-grayLight: #cbcbcb;
  --color-orange: #ff9100;
  --color-gray-200: #ebebeb;
}

@layer components {
  section {
    width: 100%;
    padding: 2rem 0;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  * {
    transition: all 0.2ms ease-out;
  }
  *:hover {
    transition: all 0.4ms ease-in;
  }
}

@layer utils {
  p {
    margin: 0;
  }
}
