@import 'tailwindcss';

@theme {
  --font-display: 'Montserrat';

  --font-size: 16px;

  --color-primary: #58994a;
  --color-primary-dark: #58844f;
  --color-secondary: #747579;
  --color-secondary-dark: #595a60;
  --color-gray: #324434;
  --color-error: #ba3e4a;
  --color-warning: #ba843e;
  --color-dark: #414141;
  --color-darkLight: #41414180;
}

@layer components {
  section {
    width: 100%;
    padding: 2rem 0;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-dark);
  }
  h5 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-dark);
  }
  * {
    transition: all 0.2ms ease-out;
  }
  *:hover {
    transition: all 0.4ms ease-in;
  }
}
