@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --font-size: 16px;
  --font-primary: 'Montserrat', sans-serif;

  --color-primary-200: #c4e0a1;
  --color-primary-300: #a3d18b;
  --color-primary-400: #8cbf6f;
  --color-primary: #58994a;
  --color-primary-600: #4b7f3b;
  --color-primary-700: #3f6e2b;
  --color-primary-800: #2f4c1b;
  --color-secondary: #747579;
  --color-secondary-dark: #595a60;
  --color-gray: #324434;
  --color-error: #ba3e4a;
  --color-warning: #ba843e;
  --color-darkLight: #41414180;
  --color-dark: #414141;
}

@layer components {
  section {
    width: 100%;
    padding: 2rem 0;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  /* Confirm if it works and if there's a better approach */
  * {
    transition: all 0.2ms ease-out;
  }
  *:hover {
    transition: all 0.4ms ease-in;
  }
}

@layer utils {
  p {
    margin: 0;
  }
}
